.container {
    height: 100vh;
    width: 80vw;
    margin: auto;
    background: transparent;

    .view-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        z-index: -1;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .img-container {
            .img-overlay {
                display: grid;
                place-items: center;
                height: 100%;
                width: 30vw;
            }

            .image {
                height: 100%;
                width: auto;
            }

            .image-enlarged {
                width: 100%;
                height: auto;
            }
        }
    }
}

.visible-container {
    visibility: visible !important;
    z-index: 1 !important;
}
